@media (min-width: 871px) {
    .submitContainerAddTaskOv {
        padding: 16px 25px;
    }
    .addTaskGeneralSettings {
        max-width: 1160px;
        max-height: 870px;
        width: 95%;
        overflow-y: hidden;  
    }
    .contentContainerAddTask{
        flex-direction: row;
        justify-content: center;
        gap: 12px;
        overflow-y: hidden;
    }
    .ContentDeskmiddleContainerAddTask{
        height: 424px;
        width: 1px;
        background-color: #D1D1D1;
        display: block;
    }
    .ContentDeskContainerAddTask{
        max-width: 440px;
        width: 45%;
        max-height: 424px;
        overflow-y: auto;
    }
    .assingToDesk{
        display: block;
    }
    .assingToMob{
        display: none !important;
    }
    .flip{
        display: flex;
        flex-direction: column-reverse;
    }

}

@media (min-width: 941px) {
    .addTaskOvGeneralSettings {
        max-width: 1160px;
        max-height: 870px;
        width: 95%;
        overflow-y: hidden;
    }

    .contentContainerAddTaskOv {
        flex-direction: row;
        justify-content: center;
        gap: 48px;
        overflow-y: hidden;
    }

    .contentContainerAddTask {
        gap: 48px;
        width: 100%;
    }

    .ContentDeskmiddleContainerAddTaskOv {
        height: 424px;
        width: 1px;
        background-color: #D1D1D1;
        display: block;
    }

    .ContentDeskContainerAddTaskOv {
        width: 440px;
        max-height: 424px;
        overflow-y: auto;
    }

    .assingToDesk {
        display: flex;
    }

    .assingToMob {
        display: none !important;
    }

    .flip {
        display: flex;
        flex-direction: column-reverse;
    }

    .submitContainerAddTaskOv {
        padding: 16px 11px;
    }
}

@media (min-width: 1266px) {
    .addTaskGeneralSettings {
        align-items: center;
    }

    .headlineAddTaskOv {
        width: 991px;
    }

    .submitContainerAddTaskOv {
        width: 991px;
    }
}