@media (max-width: 1200px) {
    .login-header {
        margin-bottom: 72px;
        position: absolute;
        top: 12px;
        left: 14px;
    }
}

@media (max-width: 830px) {
    .logo-black {
        width: 50px;
        height: 70px;
    }
    .init-animation {
        display: none;
    }
    .init-animation img {
        display: none;
    }
    .init-animation-responsiv {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2A3647;
        z-index: 1;
        animation: bgOpacityResponsiv 1.5s ease-in;
        animation-direction: normal;
        animation-delay: 1s;
    }
    .init-animation-responsiv img {
        position: absolute;
        width: 100px;
        height: 120px;
        object-fit: contain;
        animation: slideLogoResponsiv 1.5s ease-in-out;
        animation-direction: normal;
        animation-delay: 1s;
    }
    .help {
        display: none;
    }
    .help-responsiv, .legal-notice-responsiv {
        display: flex;
        color: #CDCDCD;
        text-decoration: none;
    }
    .help-content {
        padding-left: 64px;
    }
    form {
        font-size: 16px;
        width: 100%;
    }
    .header-right-responsiv {
        display: flex;
        align-items: center;
        margin-top: 50px;
        color: black;
    }
    .header-right-responsiv div {
        font-size: 20px;
    }
    .header-right-responsiv img:hover {
        background-color:  #29abe2;
        border: none;
        filter: saturate(105%);
        transform: scale(1.01);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
        transition: 255ms;
    }
    #messageNewUserResponsiv {
        display: flex;
    }
    .header-right {
        display: none!important;
    }
    .login-content, .reset-content {
        width: 372px;
        padding: 35px 0px 19px 0;
    }
    .login-input {
        width: 78%;
    }
    .login-input input {
        height: 38px;
        width: 100%;
    }
    .mail {
        height: 40px;
        margin-bottom: 20px;
        margin-top: 36px;
    }
    .login-title {
        font-size: 46px;
    }
    .password-check {
        flex-direction: column-reverse;
        height: 56px;
    }
    .login-btn {
        flex-direction: column;
        height: 148px;
        align-items: center;
        font-size: 16px;
    }
    .login-btn button {
        width: 180px;
        height: 50px;
    }
    .name-login {
        height: 38px;
        width: 96px;
    }
    .name-login input {
        height: 34px;
        width: 90px;
    }
    .login-input input::placeholder {
        font-size: 16px;
    }
    .name-login input::placeholder {
        font-size: 16px;
    }
    .sign-up-btn {
        font-size: 16px;
    }
    .forgot-content {
        width: 372px;
        height: 574px;
        padding: 35px 0px 19px 0;
        animation: slide-top .3s ease-out forwards;
    }   
    @keyframes slide-top {
        0% {
            transform: translateY(0);
            bottom: -600px;
        }
        100% {
            transform: translateY(-100px);
            bottom: -98px;
        }
    }
    .forgot-title {
        font-size: 38px;
        text-align: center;
    }
    .forgot-text {
        width: 80%;
    }
    .mail-reset {
        height: 38px;
        width: 100%;
    }
    .mail-reset input {
        height: 36px;
    }
    .login-container {
        background: transparent;
    }
    .register-text-new {
        animation: none;
    }
    .confirm-send-mail {
        display: none!important;
    }
    .sign-up-fullname img, .mail img {
        width: 12px;
    }

    .confirm-text-responsiv {
        display: flex;
        width: 300px;
        padding: 5px 15px;
        border-radius: 8px;
        background-color: #2A3647;
        color: white;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        margin-top: 20px;
    }
    .confirm-text-responsiv-login {
        display: inline;
        text-align: center;
        width: 300px;
        padding: 5px 15px;
        border-radius: 8px;
        background-color: #2A3647;
        color: white;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        margin-top: 20px;
    }
    .confirm-send-mail-responsiv {
        display: flex;
        width: 200px;
       
        padding: 5px 15px;
        border-radius: 8px;
        background-color: #2A3647;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-top: 20px;
    }
    .confirm-text-responsiv-sign-up {
        display: inline;
        width: 210px;
      
        padding: 5px 15px;
        border-radius: 8px;
        background-color: #2A3647;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        margin-top: 20px;
    }

    .sign-up-btn-responsiv {
        display: block;
        width: 140px;
        height: 48px;
        background: #2A3647;
        border-radius: 8px;
        font-size: 20px;
        color: white;
        cursor: pointer;
        margin-left: 10px;
    }
    .sign-up-check {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: 4px;
    }
    .login-header {
        position: absolute;
        top: 12px;
        left: 14px;
    }
    .footer-links {
        align-items: center; 
        gap: 8px; 
        font-size: 12px; 
    }
    .here-responsiv {
        display: inline;
        color:  #29abe2;
        font-weight: bold; 
        cursor: pointer;
        font-size: 21px;
    }
    .here-responsiv:hover { 
        text-decoration: underline;
    }
}

@media (max-width: 425px) {
    .login-container {
        padding: 0 10px 0 10px;
    }
    .login-header {
        position: absolute;
        top: 12px;
        left: 14px;
    }
    .logo-black {
        width: 44px;
        height: 58px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .sign-up-btn-responsiv {
        display: block;
        width: 114px;
        height: 44px;
    }
    .login-btn {
        height: 112px;
    }
    .login-btn button {
        height: 44px;
    }
    .forgot-content {
        height: 70vh;
    }
    .login-content {
       margin-top: 24px;
        height: 69vh;
        width: 100%;
    }
    .reset-content {
        margin-top: 24px;
         height: 80vh;
         width: 100%;
     }
    .sign-up-content-responsiv {
        width: 100%;
        height: 574px;
    }
    .sign-up-content {
        margin-top: 16px;
        height: 72vh;
        width: 100%;
    }
    .forgot-title {
        font-size: 40px;
        width: 100%;
    }
    .forgot-text {
        width: 80%;
        font-size: 20px;
    }
    .login-title {
        font-size: 30px;
    }
    .login-title img {
        width: 16px;
        height: 16px
    }
    .forgot-btn {
        width: 198px;
        font-size: 20px;
    }
    .reset-btn {
        width: 198px;
        font-size: 20px;
        margin-top: 48px;
    }
    .sign-up {
        width: 96px;
    }
    .header-right-responsiv div {
        width: 160px;
    }
    .sign-up-fullname {
        flex-direction: column;
        height: 124px;
    }
    .mail {
        margin-top: 20px;
    }
    .name-login {
        width: 87%;
        height: 40px;
    }
    .name-login input {
        width: 100%;
        height: 38px;
    }
    .sign-up-btn {
        margin: 8px;
        height: 40px;
    }
    .login-input {
        height: unset;
    }
    .footer-links {
        align-items: center; 
        gap: 8px; 
        font-size: 10px; 
    }
    .footer-link {
        padding: 3px 8px; 
    } 
}