body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
    font-weight: 400;
}

input {
    border: 1px solid #A8A8A8;
    background-color: white;
    border-radius: 10px;
}

input:focus-within {
    border-color: #29ABE2;
    outline: none;
}
input::placeholder {
    color: #D1D1D1;
}

select {
    border: 1px solid #A8A8A8;;
    background-color: white;
    border-radius: 10px;
}
select:focus-within {
    border-color: #29ABE2;
    outline: none;
}

textarea {
    border: 1px solid #A8A8A8;
    background-color: white;
    border-radius: 10px;
}
textarea:focus-within {
    border-color: #29ABE2;
    outline: none;
}


/*Add Task*/
.prioDiv {
    display: flex;
    gap: 16px;
}

.prioOption {
    background-color: white;
    border-radius: 10px;
    display: flex;
    gap: 8px;
    padding: 18px 10px 18px 10px;
    /*height: 41px;
    width: 121.33px;*/
}

.prioImg {
    object-fit: none;
}

.taskButton {
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    display: flex;
    align-items: center;
}

button:hover{
    background: #29ABE2;
}

.customButton:hover{
    filter: invert(53%) sepia(99%) saturate(681%) hue-rotate(165deg) brightness(93%) contrast(89%);
}



.memberBgColorFF7A00{background-color: #FF7A00;}
.memberBgColorFF5EB3{background-color: #FF5EB3;}
.memberBgColor6E52FF{background-color: #6E52FF;}
.memberBgColor9327FF{background-color: #9327FF;}
.memberBgColor00BEE8{background-color: #00BEE8;}
.memberBgColor1FD7C1{background-color: #1FD7C1;}
.memberBgColorFF745E{background-color: #FF745E;}
.memberBgColorFFA35E{background-color: #FFA35E;}
.memberBgColorFC71FF{background-color: #FC71FF;}
.memberBgColorFFC701{background-color: #FFC701;}
.memberBgColor0038FF{background-color: #0038FF;}
.memberBgColorC3FF2B{background-color: #C3FF2B;}
.memberBgColorFFE62B{background-color: #FFE62B;}
.memberBgColorFF4646{background-color: #FF4646;}
.memberBgColorFFBB2B{background-color: #FFBB2B;}

.memberDiskOv {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: white;
    line-height: 14px;
    border: 1px solid white;
    border-radius: 100%;
    height: 42px;
    width: 42px;
}

/* scrollbar settings */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #F6F7F8;
    border-radius: 10px;
    border: solid 2px #d7d4d45c;
}

*::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
    border-radius: 10px;
    border: 2px solid #bbc3ba;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #4589FF;
}
