<div class="footer">

    <div class="footerDesktop">
        <div>
            <img src="../assets/img/logo-white.svg" alt="">
        </div>

        <div class="footerDesktopMiddle">
            <a href="../html/summary.html">
                <div class="footerElementDesktop">
                    <img src="../assets/img/summary_sidebar.svg"><span>Summary</span>
                </div>
            </a>

            <a href="../html/add_task.html">
                <div class="footerElementDesktop">
                    <img src="../assets/img/add_task_sidebar.svg"><span>Add Task</span>
                </div>
            </a>

            <a href="../html/board.html">
                <div class="footerElementDesktop">
                    <img src="../assets/img/Board_sidebar.svg"><span>Board</span>
                </div>
            </a>

            <a href="../html/contacts.html">
                <div class="footerElementDesktop">
                    <img src="../assets/img/Contacts_sidebar.svg"><span>Contacts</span>
                </div>
            </a>
        </div>

        <div>
            <a href="../html/privacy_policy.html" class="colorGrey"><p  class="footerElementDesktop">Privacy Policy</p></a>
            <a href="../html/legal_notice.html" class="colorGrey"><p class="footerElementDesktop">Legal Notice</p></a>
        </div>
    </div>


    <div class="footerElement">
        <a href="../html/summary.html"><img src="../assets/img/summary_footer.svg" alt=""></a>
    </div>

    <div class="footerElement">
        <a href="../html/board.html"><img src="../assets/img/board_footer.svg" alt=""></a>
    </div>

    <div class="footerElement">
        <a href="../html/add_task.html"><img src="../assets/img/add_task_footer.svg" alt=""></a>
    </div>

    <div class="footerElement">
        <a href="../html/contacts.html"><img src="../assets/img/contacts_footer.svg" alt=""></a>
    </div>

</div>